<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <!-- Parent Container -->
    <div class="container">
      <div>
        <section class="main-logo-section">
          <img class="main-logo-image" src="http://localhost:3000/images/logo.png" alt="codewars">
        </section>
        <div>
          <div class="">
            <section>
              <form action="/" method="POST">
                <a href="/auth/github/">
                  <button class="login-btn" ><i class="fab fa-github"></i> GITHUB LOGIN</button>
                </a>
              </form>
            </section>
          </div>
          <!-- <p>-or-</p> -->
        </div>
        <form action="/" method="POST">
          <div class="input-row">
            <i class="fas fa-envelope"></i> 
            <input type="email" name="email" placeholder="email">
          </div>
          <div class="input-row">
            <i class="fas fa-user-tie"></i>
            <input type="text" name="username" id="" placeholder="username">
          </div>
          <div class="input-row">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="" placeholder="password">
          </div>
          <div class="input-row">
            <button class="login-btn" type="submit">Sign In</button>
          </div>
        </form>
        <section>
          <div class="">
            <a href="/users/register" class="">Sign Up</a>
          </div>
        </section>
      </div>
    </div>
</body>
</html>
